@import 'bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}
body{
  font-family: 'Nunito';
}
#app{
  display:flex;
  flex-flow:column;
  min-height:100vh;
}
main{
  flex: 1 1 auto;
}
